<h1>Add a new town</h1>

<%= form_for @town do |f| %>

  <%= f.label :name %><br>
  <%= f.text_field :name %><br>

  <%= f.label :nation_id %><br>
  <%= f.collection_select :nation_id, Nation.all, :id, :name %><br>

  <%= f.label :native_language_english %><br>
  <%= f.text_field :native_language_english %><br>
  <%# f.radio_button_tag(:native_language_english, "child") %>
  <%# f.label_tag(:native_language_english_true) %>
  <%# f.radio_button_tag(:native_language_english, "adult") %>
  <%# f.label "true" %>  
  <%# f.radio_button :native_language_english, "true" %>
  <%# f.label "false" %>
  <%# f.radio_button :native_language_english, "false" %>


  <%= f.submit %>
<% end %>
